body {
    font-family: 'Montserrat', sans-serif;
    background-color: #212121;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

/* Обёртка */
.wrapper {
    display: flex;
    flex-direction: row-reverse;
    background: #ffffff;
    width: 1200px;
    margin: 0 auto;
}

/* Ссылки (2) без подчёркивания и с прочими функциями */
.link-1-project {
    text-decoration: none;
    color: #724f1b;
    font-weight: 700;
}

/* Контакты 2 - Номер мобильного */
.link-2-number {
    text-decoration: none;
    color: #212121;
    font-weight: 700;
    font-style: normal;
    line-height: 24px;
}

/* Контакты 3 - Адрес электронной почты */
.link-3-email {
    text-decoration: none;
    color: #724f1b;
    font-weight: 700;
    font-style: normal;
    line-height: 24px;
}

/* Заголовки 1 (Main Content) */
.title-text {
    color: #ab7b33;
    font-weight: 700;
}

/* Заголовки 2 (Sidebar) */
.sidebar-title-text {
    color: #724f1b;
    margin-left: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 10px;
}

/* Основное содержание (Main Content) */
.main-content {
    padding-top: 88px;
    padding-right: 88px;
    padding-bottom: 88px;
    padding-left: 88px;
}

/* Списки в "Основном содержании" */
.main-content-list {
    margin: 0;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 18px;
}

/* Мои проекты - Названия списков */
.projects-list-name {
    font-style: normal;
    font-weight: 700;
}

/* Боковая панель (Sidebar) */
.sidebar {
    background: #aaaeff;
    width: 370px;
}

/* Моё фото */
.my-photo {
    margin-top: 40px;
}

/* Под боковая панель (Under Sidebar) */
.under-sidebar {
    padding-left: 10px;
}

/* Стили контейнеров в "Под боковой панели" */
.contacts-container,
.technical-skills-container,
.soft-skills-container,
.language-skills-container {
    margin: 48px 0 0 40px;
}

/* Обо мне 1 */
.my-profession {
    margin-bottom: 40px;
    color: #ab7b33;
}

/* Обо мне 2 (Container) */
.about-me-container {
    margin-bottom: 65px;
}

.my-name {
    font-size: 32px;
}

/* Контакты 1 */
.contacts-item {
    background-color: #ffffff;
}

/* Тип контактов */
.contacts-type {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #724f1b;
}

/* Маленькие заголовки (Main Content) */
.small-header {
    color: #5961ff;
}